- page_title "Projects"

%table
  %thead
    %tr
      %th Title
      %th
        - link_to "New Project", new_project_path, class: "small primary btn"
  %tbody
    - @projects.each do |project|
      %tr
        %td
          - link_to project.title, project_path(project.id)


