- edit_link "Edit Project", edit_project_path(@project.id)
- page_title "Project: #{@project.title}"

.hero-unit.description~ markdown @project.description.to_s

%table
  %thead
    %tr
      %th Dependends on
  %tbody
    - @project.dependencies.each do |dependency|
      %tr.dependency
        %td
          - link_to dependency.title, project_path(dependency.id)

- remove_link "Remove Project", remove_project_path(@project.id)
