- page_title "New User"

- form users_path do
  - fieldset do
    - text_field "username", label: "Username", value: @user.username
    - password_field "password", label: "Password"
  - actions do
    - submit "Create"
    - cancel
