- link_to "Edit User", edit_user_path(@user.id), class: "btn primary small pull-right"
- page_title "User: #{@user.username}"

- info do

  This would be a great place to represent user activity and possibly the
  permission level for the user account.

  Some day, maybe.

- link_to "Remove User", remove_user_path(@user.id), class: "btn small pull-right"
